# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# CSharp formatting rules:
[*.cs]
csharp_space_after_comma = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_name_and_open_parenthesis = true
csharp_space_between_method_call_name_and_opening_parenthesis = true